/* Default: Desktop */
.container {
    display: grid;
    /* flex-direction: row; */
    /* flex-direction: row; */
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
}
.card {
  background-color: #f5f5f5;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  color: #666666;
}

img {
  max-width: 100%;
  height: auto;
}

/* Tablet */
@media (max-width: 992px) {
    .container {
        padding: 25px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card h2 {
        font-size: 20px;
    }
    .card p {
        font-size: 14px;
    }
}

/* Mobile */
@media (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

    .card h2 {
        font-size: 18px;
    }
    .card p {
        font-size: 12px;
    }
}
